.shell {
  padding: 4rem 2rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.head {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

